# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Flask
instance/

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log