{% extends "layout.html" %}

{% block title %}
    Create Permit
{% endblock %}
{% block main %}
    <div class="responsive-form">
    <form action="{{ url_for('create_permit') }}" method="post">
        <label for="type">Permit Type:</label>
            <select class="form-select" name="type" id="type" required>
                <option value="hot_work">Hot Work</option>
                <option value="confined_space">Confined Space</option>
                <option value="electrical">Electrical</option>
                <option value="work_at_height">Work at Height</option>
                <option value="excavation">Excavation</option>
                <option value="cold_work">Cold Work</option>
                <option value="lifting">Lifting</option>
            </select>
        <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="Location" required>
        <label for="valid_from">Valid From:</label>
            <input type="datetime-local" id="valid_from" name="valid_from" required>
        <label for="valid_until">Valid Until:</label>
            <input type="datetime-local" id="valid_until" name="valid_until" required>
        <label for="description">Description</label>
            <textarea id="description", name="description" placeholder="Describe work..." required></textarea>
        <button type="submit" class="btn btn-primary">Create Permit</button>
    </form>
    </div>
{% endblock %}
