{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}
{% block main %}

    {% if session["user_id"] %}
        <h2>Work Permits</h2>
        <table class="table table-striped table-hover">
            
            <thead>
                <tr>
                    <th scope="col">Created at</th>
                    <th scope="col">Requester</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% if session["role"] == "requester" or session["role"] == "ehs" %}
                    {% for permit in permits %}
                        <tr>
                            <td>{{ permit.created_at }}</td>
                            <td>{{ permit.requester.first_name }} {{ permit.requester.last_name }}</td>
                            <td>{{ permit.type }}</td>
                            <td>{{ permit.status }}</td>
                            <td>{{ permit.description}}</td>
                            <td>
                                {% for action in permit.actions %}
                                    <div>{{ action.action }} - {{ action.comment }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    {% else %}
    {% endif %}

{% endblock %}
